<%- include ("header") -%>

<body>

<% for(var i=0;i<6;i++){ %>
    <form method="post" action="/">
    <% for(var j=0;j<5;j++){ %>
        <input type="text" name="item" id="it">
        <% } %>  
    <button type="submit">GO</button>
    <br>
</form>
<% } %>

<footer>
    Footer
</footer>

</body>



</html>